{{ "<!-- Contact -->" | safeHTML}}
    <section id="contact">
        <div class="inner">
            {{ if .Site.Params.Contact.form }}
            <section>
                {{ range .Site.Params.Contact.form }}
                <form method="post" action="https://formspree.io/{{ .Site.Params.Contact.form.formEmail }}">
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="{{ .buttonSend }}" class="special" /></li>
                        <li><input type="reset" value="{{ .buttonClear }}" /></li>
                    </ul>
                </form>
                {{ end }}
            </section>
            {{ end }}

            {{ if .Site.Params.Contact.discord }}
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-discord"></span>
                    {{ range .Site.Params.Contact.discord }}
                    <h3>{{ .title }}</h3>
                    <iframe src="https://discordapp.com/widget?id={{ .serverId }}&amp;theme={{ .theme }}" width="{{ .width }}" height="{{ .height }}" allowtransparency="true" frameborder="0"></iframe>
                    {{ end }}
                </div>
            </section>
            {{ end }}
            <section class="split">
                {{ if .Site.Params.Contact.email }}
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-envelope"></span>
                        {{ range .Site.Params.Contact.email }}
                        <h3>{{ .title }}</h3>
                        <a href="#">{{ .email }}</a>
                        {{ end }}
                    </div>
                </section>
                {{ end }}
                {{ if .Site.Params.Contact.phone }}
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-phone"></span>
                        {{ range .Site.Params.Contact.phone }}
                        <h3>{{ .title }}</h3>
                        <span>{{ .phone }}</span>
                        {{ end }}
                    </div>
                </section>
                {{ end }}
                {{ if .Site.Params.Contact.address }}
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-home"></span>
                        {{ range .Site.Params.Contact.address }}
                        <h3>{{ .title }}</h3>
                        <span>{{ .street }}<br />
                        {{ .city }}<br />
                        {{ .country }}</span>
                        {{ end }}
                    </div>
                </section>
                {{ end }}
            </section>
        </div>
    </section>
